.git
.venv
.benchmarks
.hypothesis
.import_linter_cache
.test-cache
.VSCodeCounter
.asv
.coverage
.coverage.*
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__
**/*.py[cod]
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
apps/onlyalpha-web/node_modules
apps/onlyalpha-web/dist
test-results
build
dist
env
htmlcov
*.egg-info
