# PostgreSQL production
ONLYALPHA_POSTGRES_DSN=

# PostgreSQL tests
ONLYALPHA_TEST_POSTGRES_DSN=
ONLYALPHA_POSTGRES_RESTORE_TEST_DSN=

# ClickHouse production
ONLYALPHA_CLICKHOUSE_URL=http://onlyalpha-clickhouse:8123
ONLYALPHA_CLICKHOUSE_DATABASE=onlyalpha
ONLYALPHA_CLICKHOUSE_USER=onlyalpha
ONLYALPHA_CLICKHOUSE_PASSWORD=
ONLYALPHA_CLICKHOUSE_STORAGE_POLICY=hot_cold

# ClickHouse tests
ONLYALPHA_TEST_CLICKHOUSE_URL=http://onlyalpha-clickhouse:8123
ONLYALPHA_TEST_CLICKHOUSE_DATABASE=
ONLYALPHA_TEST_CLICKHOUSE_USER=onlyalpha
ONLYALPHA_TEST_CLICKHOUSE_PASSWORD=
ONLYALPHA_TEST_CLICKHOUSE_STORAGE_POLICY=hot_cold
ONLYALPHA_TEST_CLICKHOUSE_RESTORE_DATABASE=
